.contact-wrapper {
  background: white;
  margin: 1% 7.5%;
  width: 85%;

  &__looking-for {
    font-size: 1.45em;
    font-weight: 600;
    text-align: center;
    padding: 1.6% 0 0 0;
    border-bottom: 1px solid peachpuff;
    color: black;
    .__weight {
      font-weight: 700;
      padding-top: 0.5%;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;

    &__col {
      flex: 25%;
      max-width: 38%;
      margin: 0.2% 0% 1.8% 0;
      &__profile {
        max-width: 71%;
      }

      .info {
        margin-right: 0;
        padding-top: 1.8%;
        .title {
          font-size: 2.3em;
          margin-bottom: 4.5%;
          padding: 2% 0 3.5% 0;
          border-bottom: 1px solid black;
        }

        .my_info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          font-size: 1.85em;
          color: black;
          margin-left: 5%;

          &__phone {
            padding: 4.8%;
            .phone {
              margin-left: 14%;
            }
          }
          &__email {
            padding: 4.8%;
            .email {
              margin-left: 6%;
            }
          }
        }

        .social-links {
          a {
            font-size: 2.8em;
            color: rgb(75, 13, 93);
            &:hover {
              color: rgb(175, 29, 97);
            }

            &:first-child {
              margin-right: 10%;
            }
          }
        }
      }
    }

    @media (max-width: 786px) {
      height: 100%;
      text-align: center;
      &__col {
        flex: 100%;
        max-width: 80%;
        padding: 3%;
        margin-right: 0.5%;

        &__profile {
          width: 100%;
          margin-top: 3%;
        }

        .info {
          margin-bottom: 8%;

          .email {
            font-size: 0.66em;
          }
        }
      }
    }

    @media (max-width: 1022px) {
      &__col {
        .info {
          margin-bottom: 8%;
          .email {
            font-size: 0.85em;
          }
        }
      }
    }

    @media (max-width: 880px) {
      &__col {
        .info {
          margin-bottom: 8%;
          .email {
            font-size: 0.65em;
          }
        }
      }
    }
  }
  @media (max-width: 640px) {
    &__looking-for {
      max-width: 95%;
      padding-top: 6%;
      margin: 0 0 0 2.5%;
      font-size: 1.1em;
      text-align: center;
      border: none;
      .__weight {
        padding-top: 1.5%;
        margin-bottom: 1%;
      }
    }
    &__info {
      &__col {
        padding-bottom: 0;
        &__profile {
          margin-left: 1%;
          margin-top: 0;
        }
        .info {
          .title {
            text-align: center;
            padding-top: 0%;
            font-size: 1.45em;
            padding-bottom: 4%;
          }
          .my_info {
            &__phone {
              padding: 0;
              margin: 5% 0 6% 0;
              font-size: 0.8em;
              .phone {
                font-size: 0.9em;
              }
            }
            &__email {
              padding: 0;
              font-size: 0.78em;
              .email {
                font-size: 0.71em;
              }
            }
          }
          .social-links {
            a {
              font-size: 2em;
              &:first-child {
                margin-right: 25%;
              }
            }
          }
        }
      }
    }
  }
}
