.header-container {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  &__nav {
    border-bottom: 1px solid peachpuff;
  }

  .navbar-brand {
    font-family: "Dosis", sans-serif;
    font-size: 1.8em;
    margin-left: 10px;
  }

  .my-links {
    font-size: 1.2em;
    margin-right: 2px;

    a:hover {
      font-weight: 700;
    }
  }
}
