.home-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: 1% 7.5%;
  background: white;
  height: 33em;

  &__col {
    flex: 25%;
    max-width: 40%;
    margin-right: 5%;
    align-items: center;

    &__profile {
      width: 90%;
      height: auto;
      max-width: 100%;
    }

    &__title {
      font-size: 55px;
      margin-bottom: 8%;
    }

    &__text {
      margin-bottom: 8%;
    }

    &__social-links {
      margin-top: 4%;
      a {
        font-size: 2em;
        color: rgb(75, 13, 93);
        &:hover {
          color: rgb(175, 29, 97);
        }

        &:first-child {
          margin-right: 4%;
        }
      }
    }
  }

  @media (max-width: 800px) {
    height: 100%;
    text-align: center;
    &__col {
      flex: 100%;
      max-width: 90%;
      padding-bottom: 3%;
      margin-right: 0.4%;

      &__profile {
        width: 94%;
        padding-top: 8%;
        padding-bottom: 1%;
      }
      &__title {
        font-size: 2.5em;
        margin-bottom: 3.5%;
      }
      &__text {
        font-size: 1.2em;
      }
    }
  }
}
