.home-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: 1% 7.5%;
  background: white;

  &__col {
    flex: 25%;
    max-width: 41%;
    margin: 2.5% 3% 2.5% 3.5%;
    align-items: center;

    &__profile {
      max-width: 89%;
    }

    &__title {
      margin-top: 1.5%;
      font-size: 55px;
      margin-bottom: 10%;
    }

    &__text {
      margin-bottom: 9%;
      font-size: 1.5em;
    }

    &__social-links {
      margin-top: 5%;
      a {
        font-size: 2.5em;
        color: rgb(75, 13, 93);
        &:hover {
          color: rgb(175, 29, 97);
        }

        &:first-child {
          margin-right: 10%;
        }
      }
    }
  }

  @media (max-width: 800px) {
    height: 100%;
    text-align: center;
    &__col {
      flex: 100%;
      max-width: 90%;
      padding-bottom: 3%;
      margin-right: 0.4%;
      &__profile {
        width: 94%;
        padding-top: 8%;
        padding-bottom: 1%;
      }
      &__title {
        font-size: 2.5em;
        margin-bottom: 3.5%;
      }
      &__text {
        font-size: 1.2em;
        padding-bottom: 2%;
      }
      &__social-links {
        a {
          font-size: 2.5em;
          &:first-child {
            margin-right: 15%;
          }
        }
      }
    }
  }
}
